<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="exportkit.figma">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.wholesalewale.firebasePersitence"
        android:allowBackup="true"
        android:theme="@style/Theme.WholeSaleWale">
        <activity
            android:name="com.example.wholesalewale.CustomerDashboard"
            android:exported="false" />
        <activity
            android:name="com.example.wholesalewale.SignIn"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.example.wholesalewale.Dashboard"
            android:exported="true"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wholesalewale.ownerDetails"
            android:exported="false"
            android:noHistory="false" />
        <activity
            android:name="com.example.wholesalewale.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:noHistory="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>